<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% include('./partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.producto %></h2> 
			<p class="product-detail-description">
				<a href="productAdd.ejs">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="../public/images/products/img-cafetera-moulinex.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos.descrpicion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.ejs">Nombre usuario: </a> <%= productos.comentarios.usuario %></strong>
								<%= productos.comentarios[1].texto %>
								</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.ejs">Nombre usuario: </a> <%= productos.comentarios.usuario %></strong>
									<%= productos.comentarios[2].texto %>
								</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>