<%- include('./partials/head') %>
<body>
<!-- Header -->
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>
<!-- /Header -->


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title" id="editar" > <%=Products.nombre%></h2> 
			<% if (locals.user != undefined && locals.user.id_usuario === Products.id_delUsuario) { %>
				<p class="product-detail-description TITULOS buy-now-button" id="editar" > 
					<a href="/product/edit/<%= Products.id_producto %>"> Editar</a> 
				</p>
			<% } %> 
			<% if (locals.user != undefined && locals.user.id_usuario === Products.id_delUsuario) { %>
				<p class="product-detail-description TITULOS buy-now-button" style="color: red;" id="editar" > 
					<form action="/product/delete/<%= Products.id_producto %>" method="POST"> 
						<button type="submit" class="buy-now-button "  > Borrar producto </button>
					</form>
			
				</p>
			<% } %> 


		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
			
					<img src = "<%= Products.foto_producto %>" alt="<%= Products.nombre %> " class="product-detail-img">
			
					<p class="product-detail-description DESCRIPCION">
						<%= Products.descripcion %>
						</p>
						<p class="product-detail-description DESCRIPCION">
								Cargado por: <br>
								<a href="/users/perfil/<%= Products.user.id_usuario %>">
									<%= Products.user.email %>
								</a>
							</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (Products.comments.length> 0) { %>
							<p class="product-detail-description DESCRIPCION">
								Comentarios:
							</p>
							<% for (let i = 0; i < Products.comments.length; i++) { %>
								<article>
										<img src="<%= Products.comments[i].user.foto %>" alt="Foto de perfil">
										<div class="data">
											<p class="user">
												<strong>
													<a href="/users/perfil/<%= Products.comments[i].user.id_usuario %>">
														<%= Products.comments[i].user.email %>
													</a> :
												</strong>
												<%= Products.comments[i].comentario %>
											</p>
										</div>
								</article>
							<% } %>
						<% } else { %>
							<p>Todavía no hay comentarios :/</p>
						<% } %>
					</section>
					
					
					<% if (locals.user != undefined) { %>
						
						<form action="/product/detail/<%= Products.id_producto %>" method="POST"> 
							<input class="form-input" type="text" value="" name="comentario" placeholder="<%= locals.oldData && oldData.comentario ? oldData.comentario : 'Haz tu comentario' %>">
							<% if (locals.errors && errors.comentario) { %>
								<div class="products-title" style="color: red;" ><%= errors.comentario.msg %></div>
							<% } %> 
							<button type="submit" class="buy-now-button ">AGREGAR COMENTARIO</button>
						</form>
						
					<% } else { %>
						<form action="/product/detail/<%= Products.id_producto %>" method="GET"> 
							<input class="form-input" type="text" value="" placeholder="¡Debes estar loggeado para comentar!">
						</form>
					<% } %>
				
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>