<%- include('./partials/head') %>
<body>
	<!-- Header -->
<% if (locals.user != undefined) { %>
    <%- include('headerLogueado') %>
<% } else { %>
    <%- include('header') %>
<% } %>
<!-- /Header -->


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title" id="editar" ><%= Products.nombre %></h2> 
			<p class="product-detail-description TITULOS" id="editar"> 
				<a href="/product/add"> Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
			
					<img src = "<%= Products.foto_producto %>" alt="" class="product-detail-img">
			
					<p class="product-detail-description DESCRIPCION">
						<%= Products.descripcion %>
						</p>
						<p class="product-detail-description DESCRIPCION">
								Cargado por: <br>
								<%= Products.user.email %>
							</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<p class="product-detail-description DESCRIPCION">
							Comentarios:
						</p>
						<% if (Products.comments && Products.comments.length > 0) { %>
							<% for (let i = 0; i < Products.comments.length; i++) { %>
								<article>
									<% if (Products.comments[i].user) { %>
										<img src="<%= Products.comments[i].user.foto %>" alt="Foto de perfil">
										<div class="data">
											<p class="user">
												<strong>
													<a href="/users/<%= Products.comments[i].user.id_usuario %>">
														<%= Products.comments[i].user.email %>
													</a> :
												</strong>
												<%= Products.comments[i].comentario %>
											</p>
										</div>
									<% } else { %>
										<p>No se encontró usuario para este comentario.</p>
									<% } %>
								</article>
							<% } %>
						<% } else { %>
							<p>Todavía no hay comentarios :/</p>
						<% } %>
					</section>
					
					

					<form action="/product" method="GET"> 
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button ">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>