<%- include('./partials/head') %>
	<!-- Header -->
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>
<!-- /Header -->

<body>
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.foto %>" alt="foto de perfil" class="foto-perfil" id="fotoPerfilEditado">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title USUARIO "> <%= usuario.email %>
						<% if (locals.user != undefined && locals.user.id_usuario === usuario.id_usuario) { %>
							<a href="/users/edit/<%= usuario.id_usuario%>">
								<i class="fas fa-cog"></i>
								Editar perfil
							</a>
						<% } %>	
					</h1>
					<!-- CHEQUEAR SI HACE FALTA ESTE BOTON  <a class="btn mt-3 ml-4" href="">SEGUIR</a> -->
					
				</div>
				<div>
					<!-- agregue que si no tiene productos, que lo avise -->
					<ul class="infoUsuario">
						<li><%= usuario.email %></li>
						<% if (usuario.products.length === 0) { %>
							<br><li> No tienes productos aún! </li>
						<% } else { %> 
							<br> <li>Productos cargados: <%= usuario.products.length %></li>
							<!-- Esto se puede chequear si es necesario:  -->
							<!-- <li>Seguidores: 200</li>  -->
							<!-- CHEQUEARRRRR -->
							<% } %>
							<br> <li> Comentarios realizados por el usuario: <%= usuario.comments.length %> </li>  
						 
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->
	
	
	<% if (locals.user != undefined && locals.user.id_usuario === usuario.id_usuario) { %>
		 <div class="col-12" id="misproductos"> 
			
			<h2 class="products-title" id="misProductos" >    Mis productos: </h2>
		</div> <br><br>  
		<br>
		<% } else { %>
				<h2 class="products-title" id="misProductos" >Productos publicados:</h2>
		<% } %>
	
		<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row" id="alinear">
			<!-- Show mis productos -->
			<% for( let i = 0; i< usuario.products.length ; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box" id="productoPerfil">
						<a href="/product/detail/<%= usuario.products[i].id_producto %>">
							<figure class="product-box_image">
								<img src="<%= usuario.products[i].foto_producto  %>" alt="<%= usuario.products[i].nombre %>">
							</figure>
							<article class="product-box_data ">
								<h2 class="PRODUCTOS"><%= usuario.products[i].nombre %></h2>
								<p class="DESCRIPCION"><%= usuario.products[i].descripcion %></p>
								<!-- CHEQUEARRRRR -->
								<p class="DESCRIPCION">  Comentarios: <%= usuario.products[i].comments.length %></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
	<!-- /Mis productos -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>